<link rel="stylesheet" href="index.css">
<body>
    <div class="bg">
        <div class="content_img">
            <img class="image" src="img/songkran.jpg">
        </div>
        <div class="content_text">
            <h1 class="idx1">Hi, I'm {{myData.nickname}}</h1>
            <h2 class="idx2">My motto : {{myData.motto}}</h2>
        </div>
        
    </div>
</body>
